@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background: rgb(255,255,0);
  background: linear-gradient(148deg, rgba(255,255,0,1) 0%, rgba(255,181,0,1) 100%) no-repeat;
  height: 100vh;

  font-family: "Roboto Mono", monospace;
  color: rgb(11, 71, 105);
}

h1 {
  padding: .5em;
  text-align: center;
  font-size: 35px;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.btn {
  font-family: sans-serif;
  color: black;
  display: inline-block;
  background: silver;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  text-decoration: none;
}

.btn:focus,
.btn:hover {
  background-color: darkgrey;
  color: White;
}
